
# Project 4: Mental Health and Screen Time
Does the amount of screen time (using phones, computers, and tablets) a person spends at age 16 affect their levels of depression and anxiety at age 18? Data and data dictionary can be found on Blackboard on the projects tab.
Dataset:   screenTime.zip
Data Owner: Natalie Thurlby, Data Science Specialist, Jean Golding Institute

In [1]:
import pandas as pd
import os

In [2]:
data_path = '../data/'
raw_maps = pd.read_csv(os.path.join(data_path, 'maps-synthetic-data-v1.1.csv'))
dict_file = os.path.join(data_path, 'synthetic_data_dictionary.csv')
raw_dictionary = pd.read_csv(dict_file)

In [3]:
raw_maps.head()

,Unnamed: 0,X,flag,comp_bed_9,mat_dep,mat_age,weight_16,height_16,iq,comp_noint_bed_16,...,dep_score,comp_house,tv_bed_16,creat_14,comp_games,fam_tv_eve,fam_tv_aft,fam_tv_mor,sex,birth_order
0,1,1,synthetic,NaN,3.0,30,59.294132,181.602831,107.0,NaN,...,0.0,Yes,Yes,often,No,"Yes, Some Days",Other,"Yes, Every Day",Female,A
1,2,2,synthetic,NaN,9.0,26,NaN,NaN,85.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,B
2,3,3,synthetic,NaN,3.0,24,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Yes, Some Days","Yes, Every Day",Other,Male,A
3,4,4,synthetic,No,NaN,22,49.812426,160.224186,NaN,NaN,...,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,Male,A
4,5,5,synthetic,No,8.0,31,62.270030,191.703227,132.0,Yes,...,NaN,NaN,NaN,often,No,"Yes, Some Days","Yes, Every Day","Yes, Every Day",Female,A

In [4]:
raw_maps.columns

Index(['Unnamed: 0', 'X', 'flag', 'comp_bed_9', 'mat_dep', 'mat_age',
       'weight_16', 'height_16', 'iq', 'comp_noint_bed_16', 'comp_int_bed_16',
       'talk_phon_wend', 'text_wend', 'talk_mob_wend', 'comp_wend',
       'musi_wend', 'read_wend', 'work_wend', 'alon_wend', 'draw_wend',
       'play_wend', 'tv_wend', 'out_win_wend', 'out_sum_wend', 'tran_wend',
       'talk_phon_week', 'text_week', 'talk_mob_week', 'comp_week',
       'musi_week', 'read_week', 'work_week', 'alon_week', 'draw_week',
       'play_week', 'tv_week', 'out_win_week', 'out_sum_week', 'tran_week',
       'pat_pres_10', 'pat_pres_8', 'pat_pres', 'num_home', 'mat_anx_1',
       'mat_anx_18m', 'mat_anx_8m', 'agg_score', 'emot_cruel', 'phys_cruel',
       'mat_anx_0m', 'pat_ses', 'mat_ses', 'pat_edu', 'mat_edu', 'parity',
       'dep_band_15', 'dep_band_13', 'dep_band_10', 'dep_band_07',
       'anx_band_15', 'anx_band_13', 'anx_band_10', 'anx_band_07', 'exercise',
       'child_bull', 'phone_14_wend', 'phone_14_week', 'musi_13', 'tv_bed_9',
       'own_mob', 'has_dep_diag', 'secd_diag', 'prim_diag', 'panic_score',
       'dep_thoughts', 'dep_score', 'comp_house', 'tv_bed_16', 'creat_14',
       'comp_games', 'fam_tv_eve', 'fam_tv_aft', 'fam_tv_mor', 'sex',
       'birth_order'],
      dtype='object')

In [5]:
raw_maps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13734 entries, 0 to 13733
Data columns (total 85 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         13734 non-null  int64
 1   X                  13734 non-null  int64
 2   flag               13734 non-null  object
 3   comp_bed_9         8174 non-null   object
 4   mat_dep            11145 non-null  float64
 5   mat_age            13326 non-null  object
 6   weight_16          5351 non-null   float64
 7   height_16          5364 non-null   float64
 8   iq                 7288 non-null   float64
 9   comp_noint_bed_16  471 non-null    object
 10  comp_int_bed_16    2570 non-null   object
 11  talk_phon_wend     4850 non-null   object
 12  text_wend          4841 non-null   object
 13  talk_mob_wend      4834 non-null   object
 14  comp_wend          4839 non-null   object
 15  musi_wend          4831 non-null   object
 16  read_wend          4834 non-null   object
 17  work_wend          4833 non-null   object
 18  alon_wend          4850 non-null   object
 19  draw_wend          4842 non-null   object
 20  play_wend          4850 non-null   object
 21  tv_wend            4853 non-null   object
 22  out_win_wend       4849 non-null   object
 23  out_sum_wend       4822 non-null   object
 24  tran_wend          4861 non-null   object
 25  talk_phon_week     4999 non-null   object
 26  text_week          5004 non-null   object
 27  talk_mob_week      5016 non-null   object
 28  comp_week          5011 non-null   object
 29  musi_week          5003 non-null   object
 30  read_week          4993 non-null   object
 31  work_week          5012 non-null   object
 32  alon_week          5008 non-null   object
 33  draw_week          5012 non-null   object
 34  play_week          5015 non-null   object
 35  tv_week            5020 non-null   object
 36  out_win_week       5007 non-null   object
 37  out_sum_week       5014 non-null   object
 38  tran_week          5024 non-null   object
 39  pat_pres_10        8057 non-null   object
 40  pat_pres_8         7729 non-null   object
 41  pat_pres           9579 non-null   object
 42  num_home           9583 non-null   object
 43  mat_anx_1          9700 non-null   object
 44  mat_anx_18m        9884 non-null   object
 45  mat_anx_8m         10488 non-null  object
 46  agg_score          10714 non-null  float64
 47  emot_cruel         11301 non-null  object
 48  phys_cruel         11301 non-null  object
 49  mat_anx_0m         11265 non-null  object
 50  pat_ses            11021 non-null  object
 51  mat_ses            10110 non-null  object
 52  pat_edu            10750 non-null  object
 53  mat_edu            12375 non-null  object
 54  parity             12544 non-null  float64
 55  dep_band_15        5299 non-null   object
 56  dep_band_13        7003 non-null   object
 57  dep_band_10        7679 non-null   object
 58  dep_band_07        8089 non-null   object
 59  anx_band_15        5303 non-null   object
 60  anx_band_13        7158 non-null   object
 61  anx_band_10        7852 non-null   object
 62  anx_band_07        8280 non-null   object
 63  exercise           4971 non-null   object
 64  child_bull         4989 non-null   object
 65  phone_14_wend      5962 non-null   object
 66  phone_14_week      6131 non-null   object
 67  musi_13            6880 non-null   object
 68  tv_bed_9           8348 non-null   object
 69  own_mob            4386 non-null   object
 70  has_dep_diag       4513 non-null   object
 71  secd_diag          4513 non-null   float64
 72  prim_diag          4513 non-null   float64
 73  panic_score        4513 non-null   float64
 74  dep_thoughts       1805 non-null   float64
 75  dep_score          4513 non-null   float64
 76  comp_house         713 non-null    object
 77  tv_bed_16          3877 non-null   object
 78  creat_14           7093 non-null   object
 79  comp_games         9660 non-null   object
 80  fam_tv_eve         11174 non-null  object
 81  fam_tv_aft         11038 non-null  object
 82  fam_tv_mor         11096 non-null  object
 83  sex                13734 non-null  object
 84  birth_order        13734 non-null  object
dtypes: float64(11), int64(2), object(72)
memory usage: 8.9+ MB

In [6]:
raw_maps.describe()

,Unnamed: 0,X,mat_dep,weight_16,height_16,iq,agg_score,parity,secd_diag,prim_diag,panic_score,dep_thoughts,dep_score
count,13734.000000,13734.000000,11145.000000,5351.000000,5364.000000,7288.000000,10714.000000,12544.000000,4513.000000,4513.000000,4513.000000,1805.000000,4513.000000
mean,6867.500000,6867.500000,5.415882,61.720509,169.286372,103.672201,9.947639,0.843033,0.417682,1.301573,0.043209,1.932410,0.437625
std,3964.808633,3964.808633,4.611888,12.003745,8.533072,16.682292,1.996768,1.009716,1.514679,3.200335,0.320880,1.327217,0.928123
min,1.000000,1.000000,0.000000,32.300000,139.512169,45.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3434.250000,3434.250000,2.000000,53.785885,163.317270,92.000000,9.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,6867.500000,6867.500000,4.000000,59.890308,168.875015,103.000000,10.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,10300.750000,10300.750000,8.000000,67.309938,175.171323,115.000000,11.000000,1.000000,0.000000,0.000000,0.000000,3.000000,0.000000
max,13734.000000,13734.000000,28.000000,126.029499,201.519622,152.000000,15.000000,22.000000,9.000000,12.000000,4.000000,5.000000,4.000000

In [7]:
raw_maps.mat_age.unique()

array(['30', '26', '24', '22', '31', '36', '27', '21', '32', '< 16', '33',
       '25', '16', '37', '34', '35', '18', '29', '23', '20', '17', '28',
       '38', nan, '40', '19', '39', '41', '>43', '42', '43'], dtype=object)

In [8]:
raw_maps.mat_age.value_counts()

29      1145
28      1130
30      1036
27      1006
26      1002
25       934
31       894
32       750
24       733
23       642
33       582
34       495
22       440
35       381
20       354
21       315
36       290
19       251
37       222
18       160
38       129
17       114
39        79
40        67
41        56
16        54
42        28
43        18
>43       13
< 16       6
Name: mat_age, dtype: int64

In [9]:
raw_maps.iq.unique()

array([107.,  85.,  nan, 132., 106.,  98., 108., 113., 104., 119., 143.,
        87., 110.,  81.,  71., 148., 111.,  95.,  76., 105., 135., 131.,
       102., 112.,  97., 137., 122.,  84., 117.,  74.,  53., 120.,  92.,
       118., 114., 115., 139., 127., 125., 134.,  83.,  80.,  79.,  89.,
       121., 124.,  88., 103., 133., 100.,  93., 101.,  78., 116.,  86.,
       128., 109.,  77.,  99.,  90.,  64.,  82.,  68.,  70.,  67., 126.,
        69.,  75., 123., 149.,  94.,  91.,  72.,  96.,  51.,  73.,  57.,
       130.,  61., 140., 129.,  66.,  54.,  63., 136., 138.,  50., 147.,
       141.,  65.,  49., 142., 150., 146., 144.,  55.,  62.,  48.,  58.,
        59., 152.,  56.,  45., 145.])

In [10]:
raw_maps.child_bull.unique()

array(['No', nan, 'Yes'], dtype=object)

In [11]:
raw_maps.child_bull.value_counts()

No     4076
Yes     913
Name: child_bull, dtype: int64

In [12]:
raw_maps.sex.value_counts()

Female    7102
Male      6632
Name: sex, dtype: int64

In [13]:
raw_maps.prim_diag.unique()

array([ 0., nan,  5., 10.,  9.,  1., 12., 11.,  8.,  2.,  6.,  7.,  4.])

In [14]:
raw_maps.prim_diag.value_counts()

0.0     3573
1.0      240
11.0     181
10.0     134
5.0      101
2.0       99
12.0      74
6.0       66
8.0       22
4.0       11
9.0        6
7.0        6
Name: prim_diag, dtype: int64

In [15]:
raw_maps.weight_16.unique()

array([59.29413192,         nan, 49.81242632, ..., 59.28760905,
       58.07583154, 70.7329131 ])

In [16]:
raw_maps.weight_16.value_counts()

32.300000     2
126.029499    2
59.294132     1
67.644590     1
57.330336     1
             ..
56.391429     1
82.107926     1
62.901127     1
60.796512     1
70.732913     1
Name: weight_16, Length: 5349, dtype: int64

In [17]:
raw_maps.apply(pd.Series.value_counts)

,Unnamed: 0,X,flag,comp_bed_9,mat_dep,mat_age,weight_16,height_16,iq,comp_noint_bed_16,...,dep_score,comp_house,tv_bed_16,creat_14,comp_games,fam_tv_eve,fam_tv_aft,fam_tv_mor,sex,birth_order
0.0,NaN,NaN,NaN,NaN,1396.0,NaN,NaN,NaN,NaN,NaN,...,3463.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1.0,NaN,NaN,1136.0,NaN,NaN,NaN,NaN,NaN,...,488.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,1.0,NaN,NaN,1025.0,NaN,NaN,NaN,NaN,NaN,...,299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,1.0,NaN,NaN,1094.0,NaN,NaN,NaN,NaN,NaN,...,163.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,1.0,NaN,NaN,958.0,NaN,NaN,NaN,NaN,NaN,...,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
v,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
~0.5%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
~15%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
~3%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
~50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Dictionary

In [18]:
raw_dictionary

,Variable Name,Variable ALSPAC Name,Variable Description,Variable Type,Administered to,Age of child at administration,ALSPAC Measure,ALSPAC Responses,Processing Details,Reference Document
0,agg_score,f596,Aggression score of partnership,Discrete,Mother,Aged 8 months,Derived by ALSPAC. See Processing Details,NaN,Aggression score was determined by three quest...,NaN
1,alon_week,ccs1006,Average time child spent per day doing things ...,Ordinal,Child,Aged 198 months,"""How much time on average do you spend each da...",Not at all,"The category ""Not at all"" was collapsed into t...",NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 1 hour,NaN,NaN
3,,,NaN,NaN,NaN,NaN,NaN,1-2 hours,NaN,NaN
4,,,NaN,NaN,NaN,NaN,NaN,3 or more hours,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
208,,,NaN,NaN,NaN,NaN,NaN,3 or more hours,NaN,NaN
209,work_wend,ccs1027,Average time child spent per day doing school ...,Ordinal,Child,Aged 198 months,How much time on average do you spend each day...,Not at all,"The category ""Not at all"" was combined with th...",NaN
210,,,NaN,NaN,NaN,NaN,NaN,Less than 1 hour,NaN,NaN
211,NaN,,NaN,NaN,NaN,NaN,NaN,1-2 hours,NaN,NaN
212,NaN,,NaN,NaN,NaN,NaN,NaN,3 or more hours,NaN,NaN

In [19]:
raw_dictionary.columns

Index(['Variable Name', 'Variable ALSPAC Name', 'Variable Description',
       'Variable Type', 'Administered to', 'Age of child at administration',
       'ALSPAC Measure', 'ALSPAC Responses', 'Processing Details',
       'Reference Document'],
      dtype='object')